.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}

.item button {
    margin: 0;
    padding: 2px;
    background-color: transparent;
    vertical-align: middle;
    border: none;
    vertical-align: middle;
}

.item button:hover {
    color: grey;
}

.item button:focus,
.item button:focus-visible {
    outline: none;
}

.deleted {
    color: red;
    text-decoration: line-through;
}

.done {
    color: grey;
}

.done::before {
    content: '✅';
    margin-right: 10px;
}